@import (reference) '../../assets/less/imports';

.b-table-form {
  width: 17.5rem;
  background: #FFFFFF;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .base-box-shadow();


  &__row {

  }

  &__form-control {
    transition: color .2s ease-in;
    width: 100%;

    &--focus-hide-placeholder > input:focus {
      &::placeholder {
        transition: color .2s ease-in;
        color: transparent !important;
      }
    }
  }

  &__error {
    color: @button-danger-bg-color;
    font-size: .75rem;
    padding: 0 .5rem;
  }

  &__form-submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.875rem;
  }
}
