@import (reference) '../../assets/less/imports';

.b-button {
  color: @base-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: @base-font-family;
  font-size: @base-font-size;
  font-weight: @base-font-weight;
  padding: @base-button-padding;
  border: 1px solid;
  border-radius: @base-button-border-radius;
  cursor: pointer;
  transform: scale(1);
  transition: all .3s ease-out;

  &:hover {
    opacity: .9;
    transform: scale(1.02) perspective(1px);
  }

  &:active {
    transform: scale(.98) perspective(1px);
  }

  &:focus {
    outline: @base-input-outline;
  }

  &[disabled] {
    tab-index: none;
    pointer-events: none;
    cursor: default;
    background: @base-disabled-bg-color;
    color: @base-disabled-text-color;
    border-color: @base-disabled-bg-color;
  }

  &--primary {
    color: @button-primary-color;
    background: @button-primary-bg-color;
    border-color: @button-primary-bg-color;
  }

  &--danger {
    color: @button-danger-color;
    background: @button-danger-bg-color;
    border-color: @button-danger-bg-color;
  }

  &--link {
    border: none;
    text-decoration: underline;
    background: none;
    padding: .2rem;

    &-primary {
      color: @button-primary-bg-color;

      &:focus {
        outline: 1px solid @button-primary-bg-color;
      }
    }
    &-danger {
      color: @button-danger-bg-color;

      &:focus {
        outline: 1px solid @button-danger-bg-color;
      }
    }
  }
}
